PUBLIC_DATA_SERVICE_KEY=공공데이터포털_인증키를_여기에_넣지말고_.env.local에_넣으세요
LAWD_CD=11500
TARGET_DONG=마곡동
START_MONTH=201701
END_MONTH=202606
COMMERCIAL_TRADE_API_URL=https://apis.data.go.kr/1613000/RTMSDataSvcNrgTrade/getRTMSDataSvcNrgTrade
BUILDING_HUB_TITLE_API_URL=https://apis.data.go.kr/1613000/BldRgstHubService/getBrTitleInfo
IROS_OPEN_API_KEY=등기정보광장_인증키를_여기에_넣지말고_.env.local에_넣으세요
IROS_APARTMENT_TRADE_API_ID=0000000305
IROS_APARTMENT_TRADE_API_URL=https://data.iros.go.kr/openapi/cr/rs/selectCrRsRgsCsOpenApi.rest
